.TodoInsert {
  display: flex;
  background: #495057;

  input {

    // 버튼을 제외한 영역을 모두 차지하기

    flex: 1;
    padding: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
    color: white;

    // 기본 스타일 초기화

    background: none;
    border: none;
    outline: none;

    &::placeholder {
      color: #dee2e6;
    }
  }

  button {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;

    // 기본 스타일 초기화

    background: none;
    background: #868e96;
    border: none;
    outline: none;
    transition: 0.1s background ease-in;

    &:hover {
      background: #adb5bd;
    }
  }
}
